.error-page {
  height: 100%;
  padding: 0;
  background: url('../img/bg-coming-soon.jpg') no-repeat center center fixed;
  @include prefixer(background-size,
  cover,
  webkit moz o spec);
  .color-overlay {
    height: 100%;
    padding: 160px 0;
  }
  .logo {
    margin-bottom: $giant;
  }
  .error-text {
    margin-bottom: $large;
    i {
      margin-bottom: $small;
      color: $light-2;
      font-size: rem($huge*2);
    }
    h1 {
      margin-bottom: $small;
      color: $light-2;
      font-size: rem($mega);
      line-height: 1;
    }
    h4 {
      margin-bottom: $small;
      color: $light-2;
      line-height: 1;
    }
    .subline {
      color: $light-1;
    }
  }
}