.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@media screen and (min-width: 650px) {
/* regole CSS */
	#typed4 {
		width: 600px;
	}
}