body {
  position: relative;
  text-align: center;
  color: $dark-1;
  background-color: $light-1;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include selection {
    color: $light-2;
    background-color: transparentize($dark-2, 0.1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: $dark-2;
  font-family: $heading-font-family;
  font-weight: 400;
  line-height: $heading-line-height;
}

h1 {
  font-size: rem(48);
}

h2 {
  font-size: rem(40);
}

h3 {
  font-size: rem(32);
}

h4 {
  font-size: rem(24);
}

h5,
h6 {
  font-size: rem(16);
}

p {
  margin: 0;
}

a,
button {
  text-decoration: none;
  &:active,
  &:focus,
  &:hover,
  &:visited {
    text-decoration: none;
    outline: 0 !important;
    box-shadow: none;
  }
}